* {
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
    text-align: center;
}

a, a:visited {
    text-decoration: none;
    color: black;
    line-height: 1.25rem;
}

.skip a{
    position: absolute;
    top:-1000px;
    left: 0;
    padding: 3.5vh;
    background-color: #F7F7FF;
}

.skip a:focus {
    top:0px;
}

.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #495867;
    height: 10vh;
    color: #F7F7FF;
}

.header_main_text_small {
    display: inline-block;
    font-size: 3rem;
}
.header_main_text_large {
    display: none;
    font-size: 3rem;
}

.header_main_text_small:hover, .header_main_text_large:hover {
    color: #FE5F55;
    cursor: default;
}

#hamburger {
    display: inline-block;
    width: 36px;
    height: 36px;
}

#hamburger:hover {
    cursor: pointer;
    fill: #FE5F55;
}

.header_main_icon, #hamburger {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.hidden {
    visibility: hidden;
    height: 0;
    opacity: 0;
    transition: all 0.33s ease-out;
}
nav {
    visibility: visible;
    opacity: 100;
    width: 100%;
    transition: opacity 0.33s ease-in;
}

.nav_links {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color:#577399;
    text-align: center;
    width: 100%;
}

.nav_links li{
    padding: 10px 5px;
    border: 2px solid transparent;
}

.nav_links li:hover{
    transform: translateY(10px) scale(1.25);
    transition: 0.25s;
}

.nav_icon {
    margin: 0 auto;
    display: block;
    max-width: 4vw;
    max-height: 4vh;
    min-width: 24px;
    min-height: 24px;
}

.nav_icon:hover, .nav_links a:hover {
    fill: #FE5F55;
    color: #FE5F55;
}

#current_page {
    text-decoration: underline;
    fill: #FE5F55;
    color: #FE5F55;
}

body {
    display: block;
    background-color: #577399;
}

main {
    background-color: #BDD5EA;
    padding-top: 3vh;
    min-height: 100vh;
    border-top: 3px dashed #F7F7FF;
    border-bottom: 3px dashed #F7F7FF;
}

.landing_page_text {
    font-size: 4rem;
    display: block;
    font-weight: 400;
}

#qr_code {
    margin: 2vh 0;
    padding: 20px;
    border: 2px dashed #FE5F55;
    border-radius: 10px;
}

.landing_page_icon {
    margin: 0 6vw;
}

.gear {
    margin: 0 2.5vw;
}

#big_gear {
    fill: #495867;
    width: 20vw;
    height: 20vh;
}

#big_gear, #small_gear {
    transition: all 15s linear;
    transform: rotate(-360deg);
}

#big_gear:hover, #small_gear:hover {
    transition: all 15s linear;
    transform: rotate(360deg);
    fill: #FE5F55;
}

#med_gear {
    transition: all 15s linear;
    transform: rotate(360deg);
    fill: #577399;
    width: 15vw;
    height: 15vh;
}

#med_gear:hover {
    transition: all 15s linear;
    transform: rotate(-360deg);
    fill: #FE5F55;
}

#small_gear {
    fill: #F7F7FF;
    width: 10vw;
    height: 10vh;
}

#database_icon, #magnifying_glass_icon, #desktop_icon {
    width: 10vw;
    height: 10vh;
}

#desktop_icon {
    fill: #495867;
}

#magnifying_glass_icon {
    fill: #577399;
    transition: transform 1s;
}

#database_icon {
    fill: #F7F7FF;
}

#desktop_icon:hover {
    animation: wiggle 1.5s linear;
}

@keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
    }

#magnifying_glass_icon:hover {
    transform: scale(1.25);
    transition: transform 1s;
}

#database_icon:hover {
    animation: flicker 15s linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}


@keyframes flicker {
    0% { fill: #F7F7FF}
    2% { fill: #FE5F55}
    4% { fill: #F7F7FF}
    6% { fill: #FE5F55}
    8% { fill: #F7F7FF}
    10% { fill: #FE5F55}
    12% { fill: #F7F7FF}
    30% { fill: #F7F7FF}
    32% { fill: #FE5F55}
    34% { fill: #F7F7FF}
    36% { fill: #FE5F55}
    38% { fill: #F7F7FF}
    63% {fill: #F7F7FF}
    65% {fill: #FE5F55}
    67% {fill: #F7F7FF}
    80% {fill: #F7F7FF}
    82% {fill: #FE5F55}
    84% {fill: #F7F7FF}
    86% {fill: #FE5F55}
    88% {fill: #F7F7FF}
    96% {fill: #F7F7FF}
    98% {fill: #FE5F55}
    100%  { fill: #F7F7FF}
}

.slideshow_container {
    margin: 10vh auto;
}

.my_slides {
    display: hidden;
    width: 50vw;
    border: 2px solid #FE5F55;
    border-radius: 50%;
    margin: 0 auto;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 8s;
    animation-name: fade;
    animation-duration: 8s;
}

@-webkit-keyframes fade {
    0% {opacity: 0}
    25% {opacity:1}
    75% { opacity: 1}
    100% { opacity: 0}
}

@keyframes fade {
    0% {opacity: 0}
    25% {opacity:1}
    75% { opacity: 1}
    100% { opacity: 0}
}

#adult_plant {
    display: none;
}

#about_header {
    margin: 2vh 0;
    font-size: 1.25rem;
}

.about_paragraph {
    background-color: #F7F7FF;
    margin: 10px;
    padding: 2vh 2vw;
    min-height: 30vh;
    border: 2px solid black;
}

#go_to_projects {
    display: block;
    width: 50%;
    background-color: #FE5F55;
    margin: 3vh auto;
    padding: 3vh 3vw;
    font-weight: 700;
    font-size: 1.25rem;
    border:2px solid black;
    border-radius: 10px;
}

.parallax{
    padding: 10px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.plant_img {
    margin: 2vh auto;
}

.parallax_img_one {
    background-image: url("../imgs/code_img.PNG");
    background-size: cover;
    background-position: 0;
}

.parallax_img_two {
    background-image: url("../imgs/android_studio_code_img.PNG");
    background-size: cover;
    background-position: 0;
}

#drew_chicago_bean {
    width: 50%;
    border-radius: 50%;
    border: 2px solid black;
    margin: 2vh 0;
}

#dp_umsi_badge {
    max-width: 100px;
    min-width: 100px;
    height: 100px;
    background-color: #FE5F55;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    margin: 2vh auto;
}

#dp_umsi_badge::before, #dp_umsi_badge::after {
    content: "";
    margin: 0 25vw;
    background-image: url("../imgs/gear.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 10vh;
    width: 10vw;
}

#dp_umsi_badge::before {
    animation: counterspin 7s infinite linear;
}

#dp_umsi_badge::after {
    animation: spin 7s infinite linear;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes counterspin {
    from {transform:rotate(0deg);}
    to {transform: rotate(-360deg);}
}

@keyframes type { 
    from { width: 0;}

} 

@keyframes blink {
    to {opacity: 0.1;}
}

#projects_header {
    width: 153px;
    overflow: hidden;
    display: inline-block;
    font-size: 2rem;
    animation: type 2s steps(8, end);
    white-space: nowrap; 
}

.blink {
    animation: blink 1s infinite;
    vertical-align: top;
    font-size: 2rem;
}

#dp{
    font-size: 3.25rem;
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    margin-top: 17px;
    margin-left: 8px;
}

#umsi {
    display: inline-block;
    grid-row: 2;
    grid-column: 1;
    font-size: 1.5rem;
    position: absolute;
    margin-top: 70px;
    margin-left: 7px;
}

#year {
    transform: rotate(-90deg);
    display: inline-block;
    font-size: 2rem;
    grid-column: 2;
    grid-row: 1 / -1;
    position: absolute;
    margin-top: 35px;
    margin-left: 45px;
}

.project_container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: 2.5vw;
    padding: 0 2.5vh;
}

#pre_project_dialog p {
    margin: 0 auto;
    padding: 2.5vh 2.5vw;
}

.project_header {
    grid-column: span 1;
    background-color: green;
    padding: 20px;
}

.project_flip_card {
    background-color: #495867;
    margin: 5vh auto;
    width: 90%;
    height: 300px;;
    border: 2px solid #577399;
    border-style: inset;
    perspective: 1000px;
}

.project_flip_card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.project_flip_card:hover .project_flip_card_inner, .project_flip_card:focus .project_flip_card_inner {
    transform: rotateY(180deg);
}

.project_flip_card_front, .project_flip_card_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project_flip_card_front {
    background-color: #F7F7FF;
    color: black;
}

.project_flip_card_front h2 {
    font-size: 1.5rem;
}

.project_flip_card_front img {
width: 25%;
}

.project_flip_card_back {
    background-color: #FE5F55;
    transform: rotateY(180deg);
}

.project_flip_card_back p {
    margin: 15px;
} 

.flip_card_code_link {
    background-color: #F7F7FF;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5%;
    border: 1px solid #000000;
}

.flip_card_code_link:hover, .flip_card_code_link:focus{
    background-color: #BDD5EA;
    cursor: pointer;
}

.contact {
    display: grid;
    grid-template-columns: 1fr;
    padding: 5vw;
    gap: 3.5vh;
}

legend {
    font-size: 2rem;
    font-weight: 700;
}

label {
    font-size: 1.25rem;
}

input, textarea {
    padding: 2vh 2.5vw;
    font-size: 1rem;
}

input, textarea, #submit {
background-color: #F7F7FF;
border: 1.5px inset #FE5F55;
border-radius: 10px;
}

textarea {
    resize: none;
    height: 40vh;
    text-align: left;
}

input {
text-align: left;
}

#submit{
    width: 50vw;
    margin-top: 3vh;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
}

#submit:hover, #submit:focus {
    cursor: pointer;
    background-color: #577399;
}

.footer {
    position: relative;
    display: flex;
    bottom: 0;
    background-color: #495867;
    width: 100%;
    justify-content: center;
}

.footer a {
    padding: 15px 0;
    margin: 0 60px;
}

.social_link {
    width: 32px;
    height: 32px;
    filter: brightness(0%);
    transition: 0.25s;
}

.social_link:hover {
    transform: scale(1.25);
    transition: 0.25s;
    filter: brightness(100%);
}

@media all and (min-width: 750px){

    .header {
        justify-content: center;
    }

    .header_main_text_small {
        display: none;
    }
    .header_main_text_large {
        display: inline-block;
        
    }

    #hamburger {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 0;
        grid-auto-flow: column;
    }

    .landing_page_icon {
        grid-column: 1;
        align-self: center;
        margin-left: 12vw;
    }

    #landing_page_qr_container {
        grid-column: 2;
        grid-row: span 3;
        align-self: center;
    }

    #desktop_icon {
        grid-row: 1;
    }

    #magnifying_glass_icon {
        grid-row: 2;
    }

    #database_icon {
        grid-row: 3;
    }

    .gear {
        grid-column: 3;
        margin: 0 auto;
        align-self: center;
    }

    #drew_chicago_bean, .plant_img {
        justify-self: center;
        align-self: center;
        grid-column: 3;
    }

    #drew_chicago_bean {
        width: 60%;
    }

    .parallax {
        grid-column: 1 / span 2;
        margin-left: 10vw;
    }

    #about_header {
        grid-column: 1 / span 2;
        margin-left: 10vw;
        font-size: 1.5rem;
        align-self: center;
    }

    #adult_plant {
        display: block;
    }

    .nav_links {
        position: fixed;
        width: 10vw;
        grid-template-columns: 1fr;
        z-index: 2;
        height: 80vh;
    }

    .nav_links li{
        align-self: center;
    }

    .project_container{
        grid-column: span 3;
        grid-template-columns: 1fr 1fr;
        margin-left: 10vw;
    }

    #pre_project_dialog {
        grid-column: 1 /span 2;
    }
    .project_flip_card {
        width: 100%;
    }

    form {
        grid-column: 1 / -1;
    }

    legend {
        padding-right: 5vw;
        padding-top: 3vh;
    }

    .contact {
        grid-template-columns: 1fr 2fr;
        align-items: center;
        margin: 0 1.5vw;
    }

    .slideshow_container {
        grid-column: 1 / -1;
        grid-row: 2;
        margin: 8vh auto;
    }

    .my_slides {
        width: 25vw;
    }
}

    @media all and (min-width: 1100px) {
    .header {
        justify-content: start;
        padding-left: 2.5vw;
    }

    .nav_links {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: transparent;
        width: 50vw;
        position: absolute;
        height:auto;
        top:0;
        right:0;
    }

    #drew_chicago_bean, .plant_img {
        grid-column: 1; 
    }

    #drew_chicago_bean {
        width: 50%;
    }

    .parallax {
        margin-left: 0;
        grid-column: 2 / -1;
        min-height: 20vh;
    }

    #about_header {
        grid-column: 2 / -1;
        margin: 0;
        font-size: 2.25rem;

    }

    .about_paragraph {
        padding:5vh 2.5vw
    }

    #dp_umsi_badge::before, #dp_umsi_badge::after {
        height: 20vh;
        width: 20vw;
    }

    .project_container{
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: 0;
        padding-top: 3.5vh;
    }
    #pre_project_dialog p {
        width: 50%;
    }

    #pre_project_dialog {
        grid-column: 1 / -1;
    }

    .contact {
        grid-template-columns: 1fr 4fr;
        margin: 0;
        padding: 2.5vh 2.5vw;
    }

    .slideshow_container {
        margin:0 5vw;
        grid-column: auto;
        grid-row: auto;
        align-self: center;
    }
    
    #submit {
        width: 25vw;
    }
}

@media (prefers-reduced-motion: reduce) {
        #desktop_icon:hover, 
        #database_icon:hover,
        #magnifying_glass_icon:hover,
        #dp_umsi_badge::before, 
        #dp_umsi_badge::after,
        #projects_header,
        .blink, 
        .hidden,
        nav,
        .nav_links li:hover,
        #big_gear,
        #med_gear,
        #small_gear,
        #big_gear:hover,
        #small_gear:hover,
        #med_gear:hover,
        #projects_header,
        .project_flip_card_back,
        .project_flip_card:hover .project_flip_card_inner, 
        .project_flip_card:focus .project_flip_card_inner {
        animation: none;
        transition: none;
        transform: none;
    }

        .blink {
            display: none;
    }
}